@import '../../styles/breakpoints';

$layout-spacing: 2.5rem;

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 1.5em;
}

@media (min-width: map_get($breakpoint-values, xxs)) {
  .main {
    padding: 2.5em;
  }
}

.loginBox {
  max-width: 400px;
  overflow: auto;
}

@media (min-width: map_get($breakpoint-values, xs)) {
  .loginBox {
    padding: $layout-spacing;
  }
}

.title {
  margin-bottom: $layout-spacing / 2;
}

.alert {
  margin-bottom: $layout-spacing / 4;
}

.form {
  width: 100%;
}

.loginButton {
  margin: $layout-spacing / 3 0;
}
