{
  "extends" : ["@visionappscz/eslint-config-visionapps"],
  "env": {
    "browser": true,
    "jest": true,
    "serviceworker": true
  },
  "rules": {
    "react/forbid-prop-types": "off"
  },
  "overrides": [
    {
      "files": [
        "**/helpers.js",
        "**/index.js",
        "**/constants/*.js",
        "**/resources/*/*.js",
        "**/services/*.js",
        "**/validators/*.js"
      ],
      "rules": {
        "import/prefer-default-export": "off"
      }
    },
    {
      "files": [
        "src/electron/**"
      ],
      "rules": {
        "import/prefer-default-export": "off",
        "no-param-reassign": "off"
      }
    },
    {
      "files": [
        "src/serviceWorker.js"
      ],
      "rules": {
        "no-restricted-globals": "off"
      }
    },
  ]
}
