{
  "extends" : ["@visionappscz/eslint-config-visionapps"],
  "env": {
    "browser": true,
    "jest": true,
    "serviceworker": true
  },
  "rules": {
    "react/forbid-prop-types": "off"
  },
  "overrides": [
    {
      "files": [
        "**/index.js",
        "**/resources/*/*.js",
        "**/services/*.js"
      ],
      "rules": {
        "import/prefer-default-export": "off"
      }
    }
  ]
}
