@import '../../styles/breakpoints';

$layout-spacing: 2.5rem;

.floatingButton {
  position: fixed;
  top: auto;
  right: 20px;
  bottom: 20px;
  left: auto;
  margin: 0;
}

.alert {
  margin-bottom: $layout-spacing / 4;
}

@media (max-width: 768px) {
  .projectTable td:nth-child(2),
  .projectTable th:nth-child(2) {
    display: none;
  }
}
